packages:
  yum:
    git: []

container_commands:
  01_assets:
    command: RAILS_ENV=production bundle exec rake assets:precompile
    leader_only: true
  02_migrate_db:
    command: RAILS_ENV=production bundle exec rails db:migrate
  03_seed_db:
    command: RAILS_ENV=production bundle exec rails db:seed